@use '../abstracts' as *;

:root {
  color-scheme: light;
}

body {
  font-family: $font-sans;
  color: $text;
  background-color: $bg;
  line-height: 1.6;
}

a { color: $primary; }

.container { @include container(); }

.visualmente-oculto { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); white-space: nowrap; border: 0; }
